[submodule "luftALU"]
	path = rtl/cpu/luftALU
	url = git@github.com:kagandikmen/luftALU.git
[submodule "riscv-tests"]
	path = ut/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "cohesive"]
	path = rtl/soc
	url = git@github.com:kagandikmen/cohesive.git
