[submodule "luftALU"]
	path = rtl/cpu/luftALU
	url = git@github.com:kagandikmen/luftALU.git
[submodule "riscv-tests"]
	path = ut/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "cohesive"]
	path = rtl/soc
	url = git@github.com:kagandikmen/cohesive.git
[submodule "ut/riscv-arch-test"]
	path = ut/riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test.git
	branch = act4
